/* src/components/Filter/filter.css */

.filter {
  margin: 20px 0;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
}

.filter .form-group {
  margin-bottom: 15px;
}

.filter .form-select {
  width: 100%;
}
