.navbar {
  background-color: rgb(238, 236, 237);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.nav-link {
  margin-right: 15px;
  color: #333;
}

.nav-link:hover {
  color: #007bff;
}

.navbar-brand img {
  height: 100px;

  object-fit: contain;
  margin-right: 25px;
}
